[Unit]
Description=OpenClaw
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/.openclaw
EnvironmentFile=-/etc/openclaw/openclaw.env

ExecStart=/home/ec2-user/.nvm/versions/node/v22.22.0/bin/openclaw gateway
Restart=on-failure

[Install]
WantedBy=multi-user.target
